.main__container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.main__notices {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 30px;
}
.main__notice {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 300px;
}
.main__title {
  font-size: 2em;
  background-color: lightblue;
  width: 100%;
  text-align: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.379);
  margin-bottom: 10px;
}
.main__notice_title {
  background-color: rgba(173, 216, 230, 0.405);
  text-align: center;
  flex: 1;
}
.main__notice p {
  text-align: justify;
  font-family: monospace;
  font-size: 1.2em;
}
